/* Página principal de registro */

.home {
<<<<<<< HEAD
  background: -moz-linear-gradient(53deg, rgba(255,162,48,1) 0%, rgba(24,128,53,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,162,48,1)), color-stop(100%, rgba(24,128,53,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(53deg, rgba(255,162,48,1) 0%, rgba(24,128,53,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(53deg, rgba(255,162,48,1) 0%, rgba(24,128,53,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(53deg, rgba(255,162,48,1) 0%, rgba(24,128,53,1) 100%); /* ie10+ */
  background: linear-gradient(37deg, rgba(255,162,48,1) 0%, rgba(24,128,53,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#188035', endColorstr='#FFA230',GradientType=0 ); /* ie6-9 */
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
=======
  background: -moz-linear-gradient(53deg, rgba(255, 162, 48, 1) 0%, rgba(24, 128, 53, 1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 162, 48, 1)), color-stop(100%, rgba(24, 128, 53, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(53deg, rgba(255, 162, 48, 1) 0%, rgba(24, 128, 53, 1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(53deg, rgba(255, 162, 48, 1) 0%, rgba(24, 128, 53, 1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(53deg, rgba(255, 162, 48, 1) 0%, rgba(24, 128, 53, 1) 100%);
  /* ie10+ */
  background: linear-gradient(37deg, rgba(255, 162, 48, 1) 0%, rgba(24, 128, 53, 1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#188035', endColorstr='#FFA230', GradientType=0);
  /* ie6-9 */
  height: 100vh;
>>>>>>> b3fe2a1a2549f3dd1c33cd1d3579df621edeaa33
}

.logo-instagram {
  /* margin: 4.2em 1em 1em 1em; */
  width: 80vw;
}

.reg-google {
  color: #fff;
  font-size: 1.1rem;
  margin: 1em 0;
}

.google-register,
.register {
  font-weight: 600;
}

.register {
  margin: 3em 0;
}

.img-profile img {
  width: 50vw;
  border-radius: 10%;
}

.img-profile p,
#password {
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
}

.register-botton-active {
  background-color: #136096;
  color: #fff;
}

/* Vista Collage */

.image-small {
  width: 150px;
  height: 140px;
}

.container-collage {
  /* height: 35rem; */
  background-color: #bcbcbc;
}

.box {
  height: 298px;
  width: 202px;
  border: 1px dashed pink;
}

<<<<<<< HEAD
/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .img-fluid {
    width: 60vw;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .img-fluid {
    width: 60vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .img-fluid {
    width: 40vw;
  }

  .google-register, .register {
    font-weight: 600;
    width: 15em;
    height: 4em;
  }
=======

.size {
  width: 100%;
  height: 100%;
}


.stretch {
  float: left;
  height: auto;
}

.stretch--3 {
  width: 32%;
  height: 220px;
}

.stretch--2 {
  width: 48%;  
  height: 304px;
}

.stretch--1of3 {
  width: 32%;
}

.stretch--2of3 {
  width: 65%;
}

@media screen and (max-width: 600px) {
  .stretch--2 {
    width: 100%;
  }
  .stretch--3 {
    width: 100%;
  }
}

body {
  margin: 0;
}

/* .containera {
  max-width: 1200px;
  height: auto;
  margin: 40px auto;
} */

.overflow {
  overflow: auto;
>>>>>>> b3fe2a1a2549f3dd1c33cd1d3579df621edeaa33
}